<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<header th:replace="/common/header :: header"></header>
<hr>

<main style="margin: 50px 10px 50px 10px; width:100%; display:grid; justify-content: center;">
    <h2>Sign Up</h2>
    <form method="post" action="/member/signUp">
        <table>
            <tr>
                <th>account: </th>
                <td><input type="text" id="account" name="account" value=""></td>
            </tr>
            <tr>
                <th>password: </th>
                <td><input type="password" id="password" name="password" value=""></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="sign up" style="width:100%;">
                </td>
            </tr>
        </table>
    </form>
</main>

<hr>
<footer th:replace="/common/footer :: footer"></footer>
</body>
</html>