<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<main>
    <!-- Category Name -->
    <div style="margin-top: 50px; margin-bottom: 50px">
        <h1 class="text-center">Recently Posts</h1>
    </div>

    <!-- Posts -->
    <article th:each="post : ${posts}">
        <div class="card text-center center-block">
            <!-- div class="card-header">card header</div -->
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <p class="card-text" th:text="${post.summary}"></p>
                <a th:href="@{/board/post(id=${post.id})}" class="btn btn-primary">Go to post</a>
            </div>
            <div class="card-footer text-muted" th:text="${#temporals.format(post.createAt, 'dd-MM-yyyy')}"></div>
        </div>
    </article>
</main>
</body>
</html>
