<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<main>
    <!-- Category Name -->
    <div style="margin-top: 50px; margin-bottom: 50px">
        <h1 class="text-center">Posting</h1>
    </div>

    <!-- Posting -->
    <section>
        <form action="/board/posting" method="post">
            <div class="mb-3">
                <label for="selectCategory" class="form-label">Category:</label>
                <select class="form-select" id="selectCategory" name="categoryId">
                    <option selected>select category</option>
                    <th:block th:each="category : ${session.categories}">
                        <option th:if="${category.viewPath} == 'board'" th:value="${category.id}" th:text="${category.title}">
                        </option>
                    </th:block>
                </select>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title"/>
            </div>

            <div class="mb-3">
                <label for="summary" class="form-label">Summary:</label>
                <input type="text" class="form-control" id="summary" name="summary" placeholder="Enter Summary"/>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content:</label>
                <textarea rows="15" class="form-control" id="content" name="content" placeholder="Enter Content"></textarea>
            </div>

            <div class="d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>
