<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<header th:fragment="header">
    <!-- logo -->
    <img src="/image/background.jpg" class="card-img-top" alt="img...">
    <div class="card-body">
        <!-- title -->
        <h5 class="card-title list-group-item"><a href="/" style="text-decoration:none; color:black;">Kim's blog</a>
        </h5>

        <!-- introduce -->
        <p class="card-text"></p>
    </div>
</header>
</html>