<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<main>
    <div style="margin-top: 50px; margin-bottom: 50px">
        <h1 class="text-center">Admin sign in</h1>
    </div>

    <section>
        <form method="post" action="/signIn">
            <div class="mb-3">
                <label for="inputAccount" class="form-label">Account</label>
                <input type="text" name="account" class="form-control" id="inputAccount" aria-describedby="inputAccountHelp">
                <div id="inputAccountHelp" class="form-text">Enter your account</div>
            </div>
            <div class="mb-3">
                <label for="inputPinNumber" class="form-label">Pin number</label>
                <input type="password" name="pinNumber" class="form-control" id="inputPinNumber" aria-describedby="inputPinNumberHelp">
                <div id="inputPinNumberHelp" class="form-text">Enter your PIN number</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" aria-describedby="inputPasswordHelp">
                <div id="inputPasswordHelp" class="form-text">Enter your password</div>
            </div>
            <button type="submit" class="btn btn-primary float-end">Submit</button>
        </form>
    </section>
</main>
<th:block th:replace="fragments/script"></th:block>
</body>

</html>
