<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<aside th:fragment="aside" class="text-center">
    <div class="card rounded-0">
        <header th:replace="/fragments/aside/header :: header"></header>
        <ul th:replace="/fragments/aside/categories :: categories"></ul>
        <div th:replace="/fragments/aside/info :: info"></div>
    </div>
    <!-- nav th:replace="/fragments/aside/search :: search"></nav -->
</aside>
</html>