<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<main th:fragment="posting">
    <div style="margin-top: 50px; margin-bottom: 50px">
        <h1 class="text-center">Posting</h1>
    </div>

    <!-- write post -->
    <section>
        <form method="post" action="/posting">
            <label for="selectCategory" class="form-label">Category</label>
            <select class="form-select" id="selectCategory" aria-label="Default select example">
                <option selected>Select this select category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <br/>
            <div class="mb-3">
                <label for="inputTitle" class="form-label">Title</label>
                <input type="email" class="form-control" id="inputTitle" placeholder="input Title">
            </div>
            <br/>
            <div class="mb-3">
                <label for="inputSummary" class="form-label">Summary</label>
                <input type="email" class="form-control" id="inputSummary" placeholder="input Title">
            </div>
            <br/>
            <div class="mb-3">
                <label for="inputContent" class="form-label">Content</label>
                <textarea class="form-control" id="inputContent" rows="20"></textarea>
            </div>
            <br/>
            <div class="row">
                <div class="form-check form-switch col float-left">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Personalized post?</label>
                </div>

                <button type="button" class="btn btn-primary col float-right">post</button>
            </div>
        </form>
    </section>
</main>
</html>