<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<header th:replace="/common/header :: header"></header>
<hr>

<main style="margin: 50px 10px 50px 10px">
  <form action="/board/posting" method="post">
    <strong>TITLE</strong><br>
    <input type="text" id="title" name="title" placeholder="Title" style="width:100%;"><br>

    <br>

    <strong>PART</strong><br>
    <input type="text" id="part" name="part" style="width:100%;"><br>

    <br>

    <strong>CONTENT</strong>
    <textarea style="width:100%; height:800px;" id="content" name="content"></textarea><br>
    <br>
    <input type="submit" value="등록" style="width:150px; float:right;">
  </form>
</main>

<hr>
<footer th:replace="/common/footer :: footer"></footer>
</body>
</html>