html, body {
    height: 100%;
    width: 100%;
}

aside {
    float: left;
    height: 100%;
    width: 25%;
}

header {
    float: left;
    height: 20%;
    width: 100%;
}

footer {
    float: left;
    height: 10%;
    width: 100%;
}

main {
    float: left;
    
    height: 100%;
    width: 75%;
}

article, section {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
}