<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kim's blog</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<hr>

<main style="margin: 50px 10px 50px 10px">
    <h2><span id="title">About</span></h2>
    <div id="info">
        <span id="email">email: 1721046@gmail.com</span><br/>
        <span id="name">name: kwangmin kim</span><br/>
        <span id="githubAddress">github: null</span><br/>
    </div>
</main>

<hr>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>