<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>kim's blog</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<hr>

<main style="margin: 50px 10px 50px 10px">
    <nav>
        <ul id="navigation" style="list-style-type: square;">
            <th:block th:each="category : ${mainCategories}">
                <li><a th:href="@{${category.link}}" th:text="${category.title}"></a></li>
            </th:block>
        </ul>
    </nav>
</main>

<hr>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>