<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<header th:replace="/common/header :: header"></header>
<hr>
<main style="margin: 50px 10px 50px 10px">
    <h2 th:replace="/common/mainHeader :: h2"></h2>
    <div id="info">
        <span id="email">email: 1721046@gmail.com</span><br/>
        <span id="name">name: kwangmin kim</span><br/>
        <span id="githubAddress">github: null</span><br/>
    </div>
</main>

<hr>
<footer th:replace="/common/footer :: footer"></footer>
</body>
</html>