<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head"></head>
<body>
<header th:replace="/common/header :: header"></header>
<hr>

<main style="margin: 50px 10px 50px 10px">
    <h2 th:replace="/common/mainHeader :: h2"></h2>
    <ul>
        <li style="list-style-type: square;" th:each="post : ${posts}">
            <a th:href="@{/board/view(sequence=${post.sequence})}" style="text-decoration:none;">
               〔[[${post.sequence}]]〕〔[[${post.createdAt}]]〕〔[[${post.part}]]〕 <b th:text="${post.title}"></b>
            </a>
        </li>
    </ul>
</main>

<hr>
<footer th:replace="/common/footer :: footer"></footer>
</body>
</html>